@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .textshadow {
    text-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff,
      0 0 100px #ffffff;
  }
  .textshadowred {
    text-shadow: 0 0 5px #ff0000, 0 0 25px #ff0000, 0 0 50px #ff0000,
      0 0 100px #ff0000;
  }

  .drop-shadow-svg:hover {
    filter: drop-shadow(0 0 5px #ffffff) drop-shadow(0 0 25px #ffffff)
      drop-shadow(0 0 50px #ffffff) drop-shadow(0 0 120px #ffffff);
  }
  .drop-shadow {
    box-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff;
  }
  .title {
    @apply textshadow;
  }
  .link:hover {
    @apply textshadow;
  }
  .link-red:hover {
    @apply textshadowred;
  }
  .icon:hover {
    @apply drop-shadow-svg;
  }

  .box:hover {
    @apply drop-shadow;
  }
}
